<div class="container">
	<h1>Your Delicious Date Awaits!</h1>

	<h2>Here are the details:</h2>

	<h4>You're going out with <strong><%= @couple_b.a_fname %> and <%= @couple_b.b_fname %></strong>. Meet them at <strong><%= @date_night.meeting_location %></strong> on <strong><%= @date_night.start_date.strftime("%m/%d/%Y") %></strong> at <strong><%= @date_night.start_date.strftime("%I:%M %p") %></strong>.</h4>

	
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>You:</strong></h3>
				</div>
				<div class="panel-body">
					<img src="<%= @couple_a.avatar %>" alt="..." width=100% class="couple-image">
				</div>
			</div>
		</div>



	<!-- <div class="row"> -->
	
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Your Date:</strong></h3>
				</div>
				<div class="panel-body">
					<img src="<%= @couple_b.avatar %>" alt="..." class="couple-image">
				</div>
			</div>
		</div></br></br></br>


<div class="row">
	<h2>Your date theme is <%= @date_night.event.event_theme %></h2>
</br></br></br></br></br></br></br>
<div class="col-sm-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Eat <strong><%= @date_night.event.food.cuisine%> food</strong></h3>					
			</div>
			<div class="panel-body">
					<img src="<%= @date_night.event.food.picture_url%>" alt="..." width=100%>
				<br><br>
				<br><br>
			</div>
		</div>
	</div>

<div class="col-sm-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Drink a <strong><%= @date_night.event.drink.recommended_drink %> (or three!)</strong></h3>					
			</div>
			<div class="panel-body">
					<img src="<%= @date_night.event.drink.picture_url%>" alt="..." width=100%>
				<br><br>
				<br><br>
			</div>
		</div>
	</div>


<div class="col-sm-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">For the main event: <strong><%= @date_night.event.activity.name %>!</strong></h3>					
			</div>
			<div class="panel-body">
					<img src="<%= @date_night.event.activity.picture_url%>" alt="..." width=100%>
			</div>
		</div>
	</div>


	<h3>Have fun on your delicious date!</h3>

	<p>Change of plans?</p>

	<a href="/date_nights/<%= @date_night.id %>/edit"><button>Edit the Deets</button></a>

	<form action="/date_nights/<%= @date_night.id %>" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
		<input type="hidden" name="_method" value="DELETE">
		<button>Cancel the Date</button>
	</form>
</div>