<h1>Your Delicious Date Awaits!</h1>

<h2>Here are the details:</h2>

<p>You're going out with <strong><%= @couple_b.a_fname %> and <%= @couple_b.b_fname %></strong>. Meet them at <strong><%= @date_night.meeting_location %></strong> on <strong><%= @date_night.start_date.strftime("%m/%d/%Y") %></strong> at <strong><%= @date_night.start_date.strftime("%I:%M %p") %></strong>.</p>

<img src="<%= @couple_a.avatar %>" alt="..." class="couple-image">
<img src="<%= @couple_b.avatar %>" alt="..." class="couple-image">

<p>Your date theme is <strong><%= @date_night.event.event_theme %></strong>. Get ready to eat <strong><%= @date_night.event.food.cuisine
 %></strong> food, drink a <strong><%= @date_night.event.drink.recommended_drink %></strong> (or three!) and then hit up the main event: <strong><%= @date_night.event.activity.name %>!</strong></p>

 <img src="<%= @date_night.event.food.picture_url
 %>" alt="..." class="couple-image">
<img src="<%= @date_night.event.drink.picture_url %>" alt="..." class="couple-image">
<img src="<%= @date_night.event.activity.picture_url %>" alt="..." class="couple-image">

<h3>Have fun on your delicious date!</h3>

<p>Change of plans?</p>

<a href="/date_nights/<%= @date_night.id %>/edit"><button>Edit the Deets</button></a>

<form action="/date_nights/<%= @date_night.id %>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
	<input type="hidden" name="_method" value="DELETE">
	<button>Cancel the Date</button>
</form>
