

<section class="container">

	<h1>Create an Event</h1>

	<form method = "POST" action =<%= "/couples/" + @id.to_s + "/events"%>>
		<div class="form-group form-group-lg">
			<h3>Activity:</h3>
			<select class ="form-control" name ="activity">
			<% @activities.each do |each| %>
				<option value =<%=each.id%>><%=each.name%></option>
			<% end %>
			</select>
		</div>

		<div class="form-group form-group-lg">
			<h3>Food:</h3>
			<select class ="form-control" name ="food">
			<% @foods.each do |each| %>
				<option value =<%=each.id%>><%=each.cuisine%></option>
			<% end %>
			</select>
		</div>

		<div class="form-group form-group-lg">
			<h3>Drink:</h3>
			<select class ="form-control" name ="drink">
			<% @drinks.each do |each| %>
				<option value =<%=each.id%>><%=each.recommended_drink%></option>
			<% end %>
			</select>
			<input type = "hidden" name ="couple_id" value = @id>
		</div>

		<div class="form-group form-group-lg">
			<h3>Theme:</h3>
			<input class ="form-control" type = "text" name ="theme" required>
			<input id ="edit-event" type ="submit" class ="btn btn-primary btn-lg">
		</div>
	</form>

</section>
