	<div class="container">
		<h1> Event Theme: </h1>
		<h3><%= @event.event_theme %></h3>
		<h1>Created By:</h1> <h3><%= @event.couple.a_fname + " " + @event.couple.a_lname %> and <%= @event.couple.b_fname + " " + @event.couple.b_lname %></h3>
		
<div class="col-sm-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title"><h1>Food: <%= @event.food.cuisine %> </h1>					
			</div>
			<div class="panel-body">
					<span class="event_image"><img src=<%= @event.food.picture_url %> width=75%></span>
				<br><br>
				<br><br>
			</div>
		</div>
	</div>



<div class="col-sm-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title"><h1>Activity: <%= @event.activity.name  %></h1>					
			</div>
			<div class="panel-body">
					<span class="event_image"><img src=<%= @event.activity.picture_url %> width=75%></span>
				<br><br>
				<br><br>
			</div>
		</div>
	</div>


<div class="col-sm-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title"><h1> Drink: <%= @event.drink.recommended_drink %> </h1>
					
			</div>
			<div class="panel-body">
					<span class="event_image"><img src=<%= @event.drink.picture_url %> width=75%></span>
				<br><br>
				<br><br>
			</div>
		</div>
	</div>		
		<br>
		
		<form method = "POST" action = "/couples/<%= @couple.id %>/favorites">
			<input type ="hidden" name ="event_id" value =<%= @event.id.to_s %>>
			<button>Favorite!</button>
		</form>	
		<br>
			<a href="/couples/<%= @couple.id %>/date_nights/new"><button class="btn btn-success">Make a Date!</button></a>
	</div>
	