<div class="container">
<h1>Edit Your Profile</h1>

<form method="POST" action="/couples/<%= @id %>"> 
<input type="hidden" name="_method" value="PUT"/>


	<h4>Update your photo:</h4></br>
	<img src="<%=@couple.picture_url%>"/>

	 <input type="file" name="picture_url" accept="image/*">


	Boo 1 First Name
	<input name="a_fname" value="<%= @couple.a_fname%>"/>
	Boo 1 Last Name
	<input name="a_lname" value="<%= @couple.a_lname%>"/>
	Age
	<input name="a_age" value="<%= @couple.a_age%>"/>
	Gender
	<input name="a_gender" value="<%= @couple.a_gender%>"/></br>
	Boo 1 email
	<input name="a_email" value="<%= @couple.a_email%>"/>
	</br>

	Boo 2 First Name
	<input name="b_fname" value="<%= @couple.b_fname%>"/>
	Boo 2 Last Name
	<input name="b_lname" value="<%= @couple.b_lname%>"/>
	Age
	<input name="b_age" value="<%= @couple.b_age%>"/>
	Gender
	<input name="b_gender" value="<%= @couple.b_gender%>"/></br>
	Boo 2 email
	<input name="b_email" value="<%= @couple.b_email%>"/></br>

	City
	<input name="city" value="<%= @couple.city%>"/></br>
	<textarea name="description" rows="5" cols="20" placeholder="description" value="<%= @couple.description %>"></textarea>

	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token() %>"/>
	<input type="submit" value="Submit Changes"></br>
	<a href="/couples/<%= @couple.id%>"><button>Cancel Changes</button></a>

	</form>

</div>