<div class="container">

			<h1><%= @couple.a_fname %> and <%= @couple.b_fname %>'s Profile</h1>
	<div class="row">
		<div class="col-sm-4">
			<img src=<%= @couple.avatar %> width=100%></br>
			<h4><%= @couple.description %></h4>	
	</div>	
</div>
		<h2><%= @couple.a_fname %> <%= @couple.a_lname %>, <%= @couple.a_age %></h2> 
		(<%= @couple.a_email %>)
		<h2><%= @couple.b_fname %> <%= @couple.b_lname %>, <%= @couple.b_age %></h2> 
		(<%= @couple.b_email %>)

		<h4>from <%= @couple.city %></h4>


		<a href="/couples/<%= @couple.id %>/date_nights/new"><button>Date us!</button></a></br>

		<h2>Events Created By Us</h2>
		<ul>
			<% @couple.events.each do |event| %>
			<li><%= event.event_theme %></li>
	<div class="row">
		<div class="col-sm-4">
			<img src="<%= event.activity.picture_url %>" width=100%>
		</div>
	</div>	
			<% end %>
		</ul>

	<h1><%= @couple.a_fname %> and <%= @couple.b_fname %>'s Profile</h1>
	<br>	

	<div class="row">
		<div class="col-sm-4">
			<img src="<%= @couple.avatar %>" width=100%>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>About <%= @couple.a_fname %>:</strong></h3>
				</div>
				<div class="panel-body">
					<p><strong>Name:</strong> <%= @couple.a_fname %></p>
					<p><strong>Age:</strong> <%= @couple.a_age %></p>
					<p><strong>Gender:</strong> <%= @couple.a_gender %></p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>About <%= @couple.b_fname %>:</strong></h3>
				</div>
				<div class="panel-body">
					<p><strong>Name:</strong> <%= @couple.b_fname %></p>
					<p><strong>Age:</strong> <%= @couple.b_age %></p>
					<p><strong>Gender:</strong> <%= @couple.b_gender %></p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<p class="lead"><strong>Description:</strong> <%= @couple.description %><br><strong>City:</strong> <%= @couple.city %></p>

	<form action="/couples/<%= @user.id %>/date_nights/new" method="GET">
		<input type="hidden" name= "receiver_id" value="<%= @couple.id %>">
		<button class="btn btn-success">Date Us!</button>
	</form>

	<div class="col-sm-6">
		<h2>Our Favorite Events:</h2>
		<% @couple.favorites.each do |favorite| %>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title"><strong><%= favorite.event.event_theme %></strong></h3>					
				</div>
				<div class="panel-body">
					<p><strong>Food:</strong> <%= favorite.event.food.cuisine %></p>
					<p><strong>Drink:</strong> <%= favorite.event.drink.recommended_drink %></p>
					<p><strong>Activity:</strong> <%= favorite.event.activity.name %></p>
					<img src="<%= favorite.event.drink.picture_url %>" class="couple-image">
					<br><br>
					<form action="/couples/<%= @user.id %>/date_nights/new">
						<input type="hidden" name="event_id" value="<%= favorite.event_id %>">
						<button class="btn btn-success">Book This Date</button>
					</form>
					<br>
					<form method = "POST" action = "/couples/<%= @user.id %>/favorites">
						<input type ="hidden" name ="event_id" value ="<%= favorite.event_id %>">
						<button class="btn btn-warning">Add to Your Favorites</button>
					</form>	
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-sm-6">
		<h2>Events We Created:</h2>
		<% @couple.events.each do |event| %>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title"><strong><%= event.event_theme %></strong></h3>					
				</div>
				<div class="panel-body">
					<p><strong>Food:</strong> <%= event.food.cuisine %></p>
					<p><strong>Drink:</strong> <%= event.drink.recommended_drink %></p>
					<p><strong>Activity:</strong> <%= event.activity.name %></p>
					<img src="<%= event.food.picture_url %>" class="couple-image">
					<br><br>
					<form action="/couples/<%= @user.id %>/date_nights/new">
						<input type="hidden" name="event_id" value="<%= event.id %>">
						<button class="btn btn-success">Book This Date</button>
					</form>
					<br>
					<form method = "POST" action = "/couples/<%= @user.id %>/favorites">
						<input type ="hidden" name ="event_id" value ="<%= event.id %>">
						<button class="btn btn-warning">Add to Your Favorites</button>
					</form>	
				</div>
			</div>
		<% end %>
	</div>	
</div>